<p-table [loading]="loading" [columns]="cols" [value]="cities" selectionMode="single" [(selection)]="selectedCity" (onRowSelect)="onRowSelect($event)" >
  <ng-template pTemplate="caption">
      List of Cities
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Sr. #</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-city let-rowIndex="rowIndex">
    <tr [pSelectableRow]="city">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{city.name}}</td>
      <td>{{city.Country.name}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>    
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="3">
        No records found
      </td>
    </tr>
</ng-template>
</p-table>

<p-dialog header="City Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div *ngIf="city">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="city.name"
      />
  </div>

  <div class="form-group">
      <label for="country-dropdown">Countries</label>
      <p-dropdown 
      [options]="dropdown" 
      id="country-dropdown" 
      [filter]="true" 
      appendTo="body"
      [autoDisplayFirst]="false"
      [style]="{ width: '100%' }"
      [(ngModel)]="city.Country">
    </p-dropdown>
  </div>
</div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>