<p-table [columns]="cols" [value]="projects" selectionMode="single" [(selection)]="selectedProject" (onRowSelect)="onRowSelect($event)" >
  <ng-template pTemplate="caption">
      List of Projects
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Sr. #</th>
        <th>Name</th>
        <th>Image</th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-project let-rowIndex="rowIndex">
    <tr [pSelectableRow]="project">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{project.name}}</td>
      <td>{{project.image}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>    
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="3">
        No records found
      </td>
    </tr>
</ng-template>
</p-table>

<p-dialog header="Surface Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div *ngIf="project">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="project.name"
      />
      <label for="name">Image</label>
      <input
        type="text"
        class="form-control"
        id="image"
        [(ngModel)]="project.image"
      />
  </div>
</div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>