<p-dataView [loading]="loading" #dv [value]="luxuryFinishings" [paginator]="true" [rows]="10">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4"></div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input
              type="search"
              pInputText
              placeholder="Search by name"
              (keyup)="dv.filter($event.target.value)"
            />
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-luxuryFinishing pTemplate="listItem">
    <div class="ui-g-6" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img
        src="{{baseUrl}}images/{{luxuryFinishing.images[0]}}"
        onError="this.src='/assets/dist/img/thumbnail_cropped.jpg';"
        width="100%"
        />
      </div>
      <div class="ui-g-12 ui-md-8 product-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Name:</div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{ luxuryFinishing.name }}</b>
          </div>

          <div class="ui-g-2 ui-sm-6">Description:</div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{ luxuryFinishing.description }}</b>
          </div>

          <div class="ui-g-2 ui-sm-6">Sequence:</div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{ luxuryFinishing.sequence }}</b>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="deleteLuxuryFinishing(luxuryFinishing)"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          (click)="editLuxuryFinishing(luxuryFinishing)"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon" style="float: right;">
        <button
          pButton
          type="button"
          icon="pi pi-eye"
          (click)="showImages($event, luxuryFinishing)"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-luxuryFinishing pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel
        [header]="luxuryFinishing.name"
        [style]="{ 'text-align': 'center' }"
      >
        <img
          src="{{baseUrl}}images/{{luxuryFinishing.images[0]}}"
          onError="this.src='/assets/dist/img/thumbnail_cropped.jpg';"
          width="100%"
        />
        <div class="product-detail">
          {{ luxuryFinishing.description }}
        </div>
        <hr class="ui-widget-content" style="border-top:0" />
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="deleteLuxuryFinishing($event, luxuryFinishing)"
          style="margin-top:0"
        ></button>
        <button
        pButton
        type="button"
        icon="pi pi-pencil"
        (click)="editLuxuryFinishing(luxuryFinishing)"
      ></button>
      <button
          pButton
          type="button"
          icon="pi pi-eye"
          (click)="showImages($event, luxuryFinishing)"
      ></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
<p-dialog
  header="Finishings"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [draggable]="false"
  [style]="{width: '700px', top: '0px'}"
  (onAfterHide)="onDialogHide()"
>
<div class="ui-g" *ngIf="selectedFinishing">
  <div class="ui-g-12">
    <div *ngIf="selectedFinishing.images[0]">
      <p-carousel responsive="true" numVisible="1" circular="circular" autoplayInterval="3000" [value]="selectedFinishing.images">
        <ng-template let-image  pTemplate="item">
          <div style="text-align: center;">
            <img
              src="{{baseUrl}}/images/{{image}}"
              onError="this.src='/assets/dist/img/thumbnail_cropped.jpg';"
              width="500 px"
              height="400 px"
            />
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
