<p-table
  #dea
  [paginator]="true"
  [rows]="20"
  [rowsPerPageOptions]="[20, 25, 30, 30, 50]"
  rowHover="true"
  [loading]="loading"
  [columns]="cols"
  [value]="dealers"
  selectionMode="single"
  [(selection)]="selectedDealer"
  (onRowSelect)="onRowSelect($event)" >
  <ng-template pTemplate="caption">
      List of Dealers
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Sr. #</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Status</th>
        <th>Country</th>
        <th>City</th>
      </tr>
      <tr>
        <th></th>
        <th><input
          style="width: 100%"
          [value]="
            dea.filters['name']
              ? dea.filters['name'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            dea.filter(
              $event.target.value,
              'name',
              'contains'
            )
          "
        /></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th> 
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-dealer let-rowIndex="rowIndex">
    <tr [pSelectableRow]="dealer">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{dealer.name}}</td>
      <td>{{dealer.address}}</td>
      <td>{{dealer?.user?.email}}</td>
      <td>{{dealer.longitude}}</td>
      <td>{{dealer.latitude}}</td>
      <td>{{dealer.status}}</td>
      <td *ngIf="dealer.Country">{{dealer.Country.name}}</td>
      <td *ngIf="dealer.City">{{dealer.City.name}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>    
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="9">
        No records found
      </td>
    </tr>
</ng-template>
</p-table>

<p-dialog header="Dealer Details" 
[(visible)]="displayDialog" [responsive]="true" 
showEffect="fade" [modal]="true"  
[contentStyle]="{'overflow':'auto','max-height':'500px'}"
[style]="{width: '500px', 'position':'absolute'}">
  <form #dealerForm="ngForm">
    <div *ngIf="dealer">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          [(ngModel)]="dealer.name"
        />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          required
          [(ngModel)]="dealer.address"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <p-dropdown 
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          name="email"
          appendTo="body"
          required
          [filter]="true"
          [options]="users" [(ngModel)]="dealer.user" optionLabel="email"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input
          type="number"
          name="longitude"
          required
          class="form-control"
          id="longitude"
          [(ngModel)]="dealer.longitude"
        />
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input
          type="number"
          required
          name="latitude"
          class="form-control"
          id="latitude"
          [(ngModel)]="dealer.latitude"
        />
      </div>
      <div class="form-group">
        <p-radioButton name="isAC" value="isAC" label="All Colors"[(ngModel)]="selectedStatus"></p-radioButton>
        <p-radioButton name="isRM" [style]="{'margin-left': '5%'}" value="isRM" label="Ready Mix" [(ngModel)]="selectedStatus"></p-radioButton>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <p-dropdown 
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          (onChange)="filterCities()"
          name="country"
          appendTo="body"
          required
          [filter]="true"
          [options]="countries" [(ngModel)]="dealer.Country" optionLabel="name"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <p-dropdown 
          [style]="{ width: '100%' }"
          appendTo="body"
          [autoDisplayFirst]="false"
          name="city"
          required
          [filter]="true"
          [options]="filteredCities" [(ngModel)]="dealer.City" optionLabel="name"></p-dropdown>
      </div>
    </div>
    <div class="form-group">    
      <p-footer>
        <button 
          type="button" 
          pButton 
          icon="fa fa-close"
          [disabled]="!dealerForm.form.valid || newDealer"
          (click)="delete()" 
          label="Delete"
        ></button>
        <button 
          type="button" 
          pButton 
          icon="fa fa-check"
          [disabled]="!dealerForm.form.valid"
          (click)="save()" 
          label="Save"
        ></button>
      </p-footer>
    </div>
  </form>
</p-dialog>