<p-table
  [value]="finishes"
  selectionMode="single"
  [(selection)]="selectedFinish"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template pTemplate="caption">
    List of Finishes
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Sr. #</th>
      <th>Name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-finish let-rowIndex="rowIndex">
    <tr [pSelectableRow]="finish">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ finish.name }}</td>
      <!-- <td><img src="{{baseURL}}/images/{{finish.image}}"/></td> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button
        type="button"
        pButton
        icon="fa fa-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="2">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Finish Details"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div *ngIf="finish">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="finish.name"
      />
    </div>
    <div class="form-group">
      <label for="surface">Surface</label>
      <div>
        <p-dropdown 
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          name="surface"
          [filter]="true"
          appendTo="body"
          required 
          [options]="surfaces" 
          [(ngModel)]="finish.surface" 
          optionLabel="name">
        </p-dropdown>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Image</label>
      <p-fileUpload
        auto="true"
        name="myfile"
        accept="image/*"
        maxFileSize="1000000"
        customUpload="true"
        (uploadHandler)="myUploader($event)"
      ></p-fileUpload>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa fa-close"
        (click)="delete()"
        label="Delete"
      ></button>
      <button
        type="button"
        pButton
        icon="fa fa-check"
        (click)="save()"
        label="Save"
      ></button>
    </div>
  </p-footer>
</p-dialog>
