<p-table
  [value]="finishes"
  [loading]="loading"
  selectionMode="single"
  [(selection)]="selectedFinish"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template pTemplate="caption">
    List of Finishes
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Sr. #</th>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-finish let-rowIndex="rowIndex">
    <tr [pSelectableRow]="finish">
      <td>{{ rowIndex + 1 }}</td>
      <td><img
        src="{{baseUrl}}images/{{ finish?.image }}"
        onError="this.src='/assets/dist/img/thumbnail_cropped.jpg';"
        height="50"/></td>
      <td>{{ finish.name }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button
        type="button"
        pButton
        icon="fa fa-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="2">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Finish Details"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div *ngIf="finish">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="finish.name"
      />
    </div>
    <div class="form-group">
      <label for="surface">Surface</label>
      <p-multiSelect 
        [options]="surfaces" 
        [(ngModel)]="finish.Surfaces"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%' }"
        name="surface">
      </p-multiSelect>
    </div>
    <div class="form-group">
      <label for="name">Image</label>
      <p-fileUpload
        auto="true"
        name="myfile"
        accept="image/*"
        maxFileSize="1000000"
        customUpload="true"
        (uploadHandler)="myUploader($event)"
      ></p-fileUpload>
    </div>
    <div *ngIf="!newFinish" >
      <img
        src="{{baseUrl}}images/{{ finish?.image }}"
        onError="this.src='/assets/dist/img/thumbnail_cropped.jpg';"
        height="150"/>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa fa-close"
        (click)="delete()"
        label="Delete"
      ></button>
      <button
        type="button"
        pButton
        icon="fa fa-check"
        (click)="save()"
        label="Save"
      ></button>
    </div>
  </p-footer>
</p-dialog>
