<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form #registerForm="ngForm" (ngSubmit)="submit()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="form-group">
                  <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Username" autocomplete="username" name="username" required>
                  <small *ngIf="registerErrors.has('username')" class="form-text" style="color: red;">{{registerErrors.get('username')}}</small>                  
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="user.firstname" class="form-control" placeholder="First Name" autocomplete="firstname" name="firstname" required>
                  <small *ngIf="registerErrors.has('firstname')" class="form-text" style="color: red;">{{registerErrors.get('firstname')}}</small>                  
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="user.lastname" class="form-control" placeholder="Last Name" autocomplete="lastname" name="lastname" required>
                  <small *ngIf="registerErrors.has('lastname')" class="form-text" style="color: red;">{{registerErrors.get('lastname')}}</small>                  
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="Email" autocomplete="email" name="email" required>
                  <small *ngIf="registerErrors.has('email')" class="form-text" style="color: red;">{{registerErrors.get('email')}}</small>
                </div>
                <div class="form-group">
                  <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" autocomplete="new-password" name="password" required>
                  <small *ngIf="registerErrors.has('password')" class="form-text" style="color: red;">{{registerErrors.get('password')}}</small>
                </div>
                <div class="form-group">
                  <input type="password" [(ngModel)]="user.confirmPassword" class="form-control" placeholder="Repeat password" autocomplete="new-password" name="confirmPassword" required>
                  <small *ngIf="registerErrors.has('confirmPassword')" class="form-text" style="color: red;">{{registerErrors.get('confirmPassword')}}</small>
                </div>
                <button [disabled]="!registerForm.form.valid" type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
