<p-table
  #sha
  [paginator]="true"
  [rows]="20"
  [rowsPerPageOptions]="[20, 25, 30, 30, 50]"
  rowHover="true"
  [loading]="loading"
  [value]="shades"
  selectionMode="single"
  [(selection)]="selectedShade"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template pTemplate="caption">
    List of Shades
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Sr. #</th>
      <th>Item Code</th>
      <th>Name</th>
      <th>Shade Type</th>
      <th>Name ofProducts</th>
      <th>RGB</th>
    </tr>
    <tr>
      <th></th>
      <th><input
        style="width: 100%"
        [value]="
          sha.filters['itemCode']
            ? sha.filters['itemCode'].value
            : ''
        "
        pInputText
        type="text"
        (input)="
          sha.filter(
            $event.target.value,
            'itemCode',
            'contains'
          )
        "
      /></th>
      <th><input
        style="width: 100%"
        [value]="
          sha.filters['name']
            ? sha.filters['name'].value
            : ''
        "
        pInputText
        type="text"
        (input)="
          sha.filter(
            $event.target.value,
            'name',
            'contains'
          )
        "
      /></th>
      <th>
        <p-dropdown
          #uu
          name="unit"
          [style]="{ width: '100%', 'border-radius': '0px' }"
          [autoDisplayFirst]="false"
          [options]="types"
          optionLabel="name"
          [showClear]="true"
          appendTo="body"
          (onChange)="sha.filter($event.value?.value, 'isRM', 'equals')"
          >
          </p-dropdown>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-shade let-rowIndex="rowIndex">
    <tr [pSelectableRow]="shade">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ shade.itemCode }}</td>
      <td>{{ shade.name }}</td>
      <td><div *ngIf="shade.isAC">
        <span>ALL COLORS</span>
      </div>
      <div *ngIf="shade.isRM">
        <span>READY MIX</span>
      </div>
      </td>
      <td>
        <span style="display: inline" *ngFor="let product of shade.Products;let i = index;">
          {{product.name}}{{i  == shade.Products.length - 1 ? '' : '| '}}
        </span>
      </td>
      <td style.background-color="rgb({{ shade.color.r }}, {{shade.color.g}}, {{shade.color.b}})">
        <strong>({{ shade.color.r }}, {{shade.color.g}}, {{shade.color.b}})</strong>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="6">
        No records found
      </td>
    </tr>
</ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align:left">
      <button
        type="button"
        pButton
        icon="fa fa-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
</p-table>

<p-dialog
  header="Shade Details"
  [(visible)]="displayDialog"
  showEffect="fade"
  [modal]="true"
  [contentStyle]="{'overflow':'auto','max-height':'500px'}"
  [style]="{width: '500px', 'position':'absolute'}"
  [focusOnShow]="false"
>
  <form #shadeForm="ngForm">
    <div *ngIf="shade">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          [(ngModel)]="shade.name"
        />
      </div>
      <div class="form-group">
        <p-radioButton name="type" value="AC" label="All Colors"  [(ngModel)]="radioVal"></p-radioButton>
        <p-radioButton name="type" [style]="{'margin-left': '5%'}" value="RM" label="Ready Mix"  [(ngModel)]="radioVal"></p-radioButton>
      </div>
      <div class="form-group">
        <label for="product">Product</label>
        <p-multiSelect 
          [options]="products" 
          [(ngModel)]="selectedProducts"
          appendTo="body"
          [style]="{ width: '100%' }"
          name="products"
          filter="true"
          selectionLimit="{{limit}}"
          required
          optionLabel="name">
        </p-multiSelect>
      </div>
      <div class="form-group">
        <label for="countries">Family</label>
        <p-dropdown 
        [style]="{ width: '100%' }"
        [autoDisplayFirst]="false"
        name="countries"
        [filter]="true"
        required [options]="families" [(ngModel)]="shade.Family" optionLabel="name"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="item_code">Item Code</label>
        <input
          type="text"
          class="form-control"
          required
          name="item_code"
          id="item_code"
          [(ngModel)]="shade.itemCode"
        />
      </div>
      <div class="form-group">
        <label for="">Available In</label>
        <p-listbox 
          [options]="countries" 
          name="country" 
          multiple="multiple" 
          checkbox="checkbox" 
          filter="filter" 
          [(ngModel)]="shade.Countries" 
          optionLabel="name" 
          required
          [style]="{width: '100%'}"
        ></p-listbox>
      </div>
      <div class="form-group">
        <div class="form-group">
          <div class="form-row" *ngIf="shade.color">
            <div class="col-4">
              <input  name="r" required type="number" placeholder="R" class="form-control" [(ngModel)]="shade.color.r" />
            </div>
            <div class="col-4">
              <input  name="g" required  type="number" placeholder="G" class="form-control" [(ngModel)]="shade.color.g" />
            </div>
            <div class="col-4">
              <input  name="b" required type="number" placeholder="B" class="form-control" [(ngModel)]="shade.color.b" />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <p-editor [(ngModel)]="shade.description" name="description"  [style]="{'height':'320px'}"></p-editor>
      </div>
    </div>
    <div class="form-group">
      <p-footer>
        <button
          type="button"
          pButton
          icon="fa fa-close"
          (click)="delete()"
          [disabled]="!shadeForm.form.valid || newShade"
          label="Delete"
        ></button>
        <button
          type="button"
          pButton
          icon="fa fa-check"
          [disabled]="!shadeForm.form.valid"
          (click)="save()"
          label="Save"
        ></button>
      </p-footer>
    </div>
  </form>
</p-dialog>
