<p-table
  #fam
  [paginator]="true"
  [rows]="20"
  [rowsPerPageOptions]="[20, 25, 30, 30, 50, 100]"
  rowHover="true"
  [value]="families"
  [loading]="loading"
  selectionMode="single"
  [(selection)]="selectedFamily"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template pTemplate="caption">
    List of Color Families
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Sr. #</th>
      <th [pSortableColumn]="'sequence'">Sequence
          <p-sortIcon [field]="'sequence'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'name'">Name
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th>Shade Type</th>
      <th>RGB</th>
    </tr>
    <tr>
      <th></th>
      <th><input
        style="width: 100%"
        [value]="
          fam.filters['sequence']
            ? fam.filters['sequence'].value
            : ''
        "
        pInputText
        type="text"
        (input)="
          fam.filter(
            $event.target.value,
            'sequence',
            'contains'
          )
        "
      /></th>
      <th><input
        style="width: 100%"
        [value]="
          fam.filters['name']
            ? fam.filters['name'].value
            : ''
        "
        pInputText
        type="text"
        (input)="
          fam.filter(
            $event.target.value,
            'name',
            'contains'
          )
        "
      /></th>
      <th>
        <p-dropdown
                  #rr
                  name="label"
                  [style]="{ width: '100%', 'border-radius': '0px' }"
                  [autoDisplayFirst]="false"
                  [options]="dropdown"
                  optionLabel="label"
                  [filter]="true"
                  [showClear]="true"
                  appendTo="body"
                  panelStyleClass="dropDownWidth500"
                  (onChange)="
                    fam.filter($event.value?.label, 'ShadeFilter.name', 'equals')
                  "
                >
      </p-dropdown>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-family let-rowIndex="rowIndex">
    <tr [pSelectableRow]="family">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ family.sequence }}</td>
      <td>{{ family.name }}</td>
      <td>{{  family.ShadeFilter?.name}}</td>
      <td style.background-color="rgb({{ family.color.r }}, {{family.color.g}}, {{family.color.b}})">
        <strong>({{ family.color.r }}, {{family.color.g}}, {{family.color.b}})</strong>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="5">
        No records found
      </td>
    </tr>
</ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align:left">
      <button
        type="button"
        pButton
        icon="fa fa-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
</p-table>

<p-dialog
  header="Color Details"
  [(visible)]="displayDialog"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '300px' }"
  [focusOnShow]="false"
>
  <form #familyForm="ngForm">
    <div *ngIf="family">
        <div class="form-group">
            <label for="sequence">Sequence</label>
            <input
              type="number"
              class="form-control"
              pKeyFilter="num"
              name="sequence"
              id="name"
              required
              [(ngModel)]="family.sequence"
            />
          </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          pKeyFilter="alphanum"
          name="name"
          id="name"
          required
          [(ngModel)]="family.name"
        />
      </div>
      <div class="form-group">
        <label for="family-dropdown">Select Shade</label>
        <p-dropdown
          [options]="dropdown"
          [filter]="true"
          name="family-dropdown"
          appendTo="body"
          [autoDisplayFirst]="false"
          [style]="{ width: '100%' }"
          [(ngModel)]="family.ShadeFilter"
        ></p-dropdown>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col-4">
            <input type="number" name="r"  required placeholder="R" class="form-control" [(ngModel)]="family.r" />
          </div>
          <div class="col-4">
            <input type="number" name="g"  required placeholder="G" class="form-control" [(ngModel)]="family.g" />
          </div>
          <div class="col-4">
            <input type="number" name="b"  required placeholder="B" class="form-control" [(ngModel)]="family.b" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p-footer>
        <button
          type="button"
          pButton
          icon="fa fa-close"
          [disabled]="!familyForm.form.valid || newFamily"
          (click)="delete()"
          label="Delete"
        ></button>
        <button
          type="button"
          [disabled]="!familyForm.form.valid"
          pButton
          icon="fa fa-check"
          (click)="save()"
          label="Save"
        ></button>
      </p-footer>
    </div>
  </form>
</p-dialog>
