<p-table
  #use
  [paginator]="true"
  [rows]="20"
  [rowsPerPageOptions]="[20, 25, 30, 30, 50]"
  rowHover="true" 
  [value]="users"
  selectionMode="single"
  [(selection)]="selectedUser"
  (onRowSelect)="onRowSelect($event)" >
  <ng-template pTemplate="caption">
      List of Users
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th>Sr. #</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Country</th>
        <th>City</th>
        <th>Email</th>
      </tr>
      <tr>
        <th></th>
        <th><input
          style="width: 100%"
          [value]="
            use.filters['firstname']
              ? use.filters['firstname'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            use.filter(
              $event.target.value,
              'firstname',
              'contains'
            )
          "
        /></th>
        <th><input
          style="width: 100%"
          [value]="
            use.filters['lastname']
              ? use.filters['lastname'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            use.filter(
              $event.target.value,
              'lastname',
              'contains'
            )
          "
        /></th>
        <th><input
          style="width: 100%"
          [value]="
            use.filters['role']
              ? use.filters['role'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            use.filter(
              $event.target.value,
              'role',
              'contains'
            )
          "
        /></th>
        <th><input
          style="width: 100%"
          [value]="
            use.filters['country']
              ? use.filters['country'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            use.filter(
              $event.target.value,
              'country',
              'contains'
            )
          "
        /></th>
        <th><input
          style="width: 100%"
          [value]="
            use.filters['city']
              ? use.filters['city'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            use.filter(
              $event.target.value,
              'city',
              'contains'
            )
          "
        /></th>
        <th><input
          style="width: 100%"
          [value]="
            use.filters['email']
              ? use.filters['email'].value
              : ''
          "
          pInputText
          type="text"
          (input)="
            use.filter(
              $event.target.value,
              'email',
              'contains'
            )
          "
        /></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
    <tr [pSelectableRow]="user">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.role}}</td>
      <td>{{user.country}}</td>
      <td>{{user.city}}</td>
      <td>{{user.email}}</td>
    </tr>
  </ng-template>  
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="7">
        No records found
      </td>
    </tr>
</ng-template>
</p-table>

<p-dialog header="User Details" 
[(visible)]="displayDialog" 
[responsive]="true" 
showEffect="fade" 
[modal]="true" 
[contentStyle]="{'overflow':'auto','max-height':'500px'}"
[style]="{width: '500px', 'position':'absolute'}">
  <div *ngIf="user">
    <div class="form-group">
      <label for="role">Role</label>
      <p-dropdown 
        [style]="{ width: '100%' }"
        [autoDisplayFirst]="false"
        name="value"
        [filter]="true"
        [options]="roles" [(ngModel)]="selectedRole" optionLabel="value"></p-dropdown>
    </div>
    <div *ngIf="user.role != 'DEALER'" class="form-group ">
      <label for="profession">Profession</label>
          <p-dropdown
            name="role"
            [options]="professions"
            [style]="{ width: '100%' }"
            [(ngModel)]="selectedProfession"
            optionLabel="value"
          ></p-dropdown>
      </div>
    <div class="form-group">
      <label for="name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="user.firstname"
      />
    </div>
    <div class="form-group">
      <label for="name">Last Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.lastname"
      />
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="user.email"
        />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.phone"
        />
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.country"
        />
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.city"
        />
    </div>
    <div class="form-group">
      <label for="city">Reset Password</label><br>
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
    <div *ngIf="checked" class="form-group">
      <label for="password">Enter Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="user.password"
        />
    </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>